/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 20%;
    background-color: rgb(84, 84, 84); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left:6px;
    padding-right: 6px;
    color: rgba(255, 255, 255, 0.616);
    margin: auto;
    text-align: center;
    
  }
  
  /* Style page content */
  .main {
    padding: 0px 10px;
    height: 1000px;
    background-color: rgb(170, 170, 170);
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    
  
  }
  
body {
    padding-left: 27%;
    padding-right: 25%;
    height: 1000px;
    width: 42%;
    margin: 0 auto;
    padding-left: 35%;
    font-family: 'Montserrat', sans-serif;
    
}
.Bild1 {
  border-bottom: 3px solid rgba(255, 254, 254, 0.705);
}